@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
z
body {
    font-family: 'Josefin Sans', cursive;
  }
  
  /* Header.css */

/* Custom hover effect for navbar links */
.nav-link:hover {
  background-color: #333; /* Change the background color on hover */
  color: #fff; /* Change the text color on hover */
}
